header{
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.5)
}

header div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

header div i{
    font-size: 2rem;
    margin: 1rem;
}

#header-color{
    color:red;
}
.header-two{
    color:blue;
}

p1{
    color: green;
}